                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="artMsgDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Article Management</a>
                    <div class="dropdown-menu" aria-labelledby="artMsgDropdown">
                        <a class="dropdown-item" href="/edit/new">New Article</a>
                        <a class="dropdown-item" href="/edit/article">Edit Article</a>
                        <a class="dropdown-item" href="/edit/upload">Upload Image</a>
                        <a class="dropdown-item" href="/edit/viewupload">View Uploads</a>
                    </div>
                </li>
